<div class="row">
  <div class="question col-sm-6">
    <%= @question.text %>
  </div>
  <div class="question col-sm-6 mt-3 d-flex justify-content-center">
    <% if @answers == @question.answers %>
      <div class="card text-white bg-success mb-3 text-center w-100 correct">
        <div class="card-body">
          <h5 class="card-title"><%= @answers.sort_by(&:position).map(&:text).join(", ") %></h5>
          <p class="card-text"><i class="fas fa-thumbs-up"></i></p>
          <%= link_to "", root_path, class: "stretched-link" %>
        </div>
      </div>
    <% else %>
      <div class="card text-white bg-danger mb-3 text-center w-100 wrong">
        <div class="card-body">
          <h5 class="card-title"><%= @question.answers.sort_by(&:position).map(&:text).join(", ") %></h5>
          <p class="card-text answer-text"><%= @answers.sort_by(&:position).map(&:text).join(", ") %></p>
          <p class="card-text"><i class="fas fa-thumbs-down"></i></p>
          <%= link_to "",root_path, class: "stretched-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row fixed-bottom mb-3 ml-1 mr-1">
  <div class="question col-sm-12">
    <%= link_to "Next", root_path, class: "btn btn-primary btn-block" %>
  </div>
</div>
